{% extends 'base.html.twig' %}

{% block title %}A propos de nous
{% endblock %}
{% block stylesheets %}
<style type="text/css">
	body {
		position: relative;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: #FFFFFF;
		color: #212529;
	}

	a {
		color: #212529;
	}
</style>
{% endblock %}

{% block body %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
	<div class="container" data-aos="fade-up">
		<div class="section-title">
			<span>À propos de nous</span>
			<h2>À propos de nous</h2>
			<p>Nous voulons porter un élève de maternelle vers une bonne maîtrise du langage oral en enrichissant son
				vocabulaire.
				L'acquisition de ce dernier conditionne autant l&rsquo;efficacité de l&rsquo;apprentissage de la lecture
				et de
				l&rsquo;écriture que la compréhension et la réussite dans toutes les composantes disciplinaires de
				l&rsquo;école.
			</p>
		</div>
		<div class="row">
			<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
					<img src="{{asset('assets/img/visuel-maternelle.jpg')}}" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
				<p>
					<strong>Dis, comment on dit ?</strong> a été fondée en 2019, suite aux constats résultant de
					l'expérience
					professionnelle de la Présidente fondatrice, professeur de français, puis professeur des écoles.
					Convaincus de l'apprentissage de la langue pour les réussites scolaire et sociale, et de
					l'acquisition des fondamentaux dès le plus jeune âge, des professeurs des écoles ainsi que des
					professionnels du privé, <strong>se rassemblent pour agir</strong>.
				</p>
				<p>
					Le projet de l'association consiste en la <strong>réalisation d'imagiers</strong> qui permettront
					aux enfants de
					manière progressive et structurée, sur tout le cycle de la maternelle, d'acquérir un bagage solide
					en vocabulaire et les bases indispensables de la syntaxe en français afin d'être mieux préparés à
					l'entrée au CP.
				</p>
				<p class="fst-italic">
					Les objectifs sont :
				</p>
				<ul>
					<li>
						<i class="bi bi-check-circle"></i>
						Enrichir le vocabulaire et construire la syntaxe en français des élèves pour une meilleure
						réussite scolaire en référence aux attendus des programmes</li>
					<li>
						<i class="bi bi-check-circle"></i>
						Créer du lien avec les familles en valorisant leur engagement et la réussite éducative
					</li>
					<li>
						<i class="bi bi-check-circle"></i>
						Construire un projet de réseau (écoles, collège, quartier)</li>
				</ul>
				<p>
					Indépendante de tout mouvement politique, syndical, professionnel et confessionnel, <strong>Dis,
						comment on dit ?</strong> est une association loi 1901, à but non lucratif, agréée auprès du
					Rectorat de Nantes, intervenant dans le champ éducatif.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
<!-- ======= agreement Section ======= -->
<section class="agreement">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 d-flex align-items-stretch {#animate fadeInUp#}">
				<div class="testimonial-item">
					<img src="{{asset('assets/img/logoAcademieNantes.png')}}" alt="Logo Académie de Nantes"
						class="testimonial-img">
					<h4>Association agréée</h4>
					<p>Agréée par le Rectorat de Nantes en tant qu&rsquo;association éducative complémentaire
						de l&rsquo;enseignement public depuis 2021, pour une durée de 5 ans renouvelable.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End agreement -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
	<div class="container" data-aos="fade-up">
		<div class="section-title {#animate fadeInUp revealed#}">
			<h2>Nos valeurs</h2>
		</div>
		<div class="row">
			<div class="d-flex col-lg-3 col-md-6 {#animate fadeInUp revealed#}" data-aos="fade-up" data-aos-delay="100">
				<div class="limp">
					<span>01</span>
					<h4>Engagement</h4>
					<p>L&rsquo;engagement, c&rsquo;est la traduction en action d&rsquo;une pensée active. Chaque
						bénévole, administrateur de l&rsquo;association met son énergie et ses compétences au service de
						la réalisation du projet</p>
				</div>
			</div>
			<div class="d-flex col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-0 {#animate fadeInUp two revealed#}" data-aos="fade-up" data-aos-delay="200">
				<div class="limp">
					<span>02</span>
					<h4>Ouverture et innovation</h4>
					<p>Parce que les besoins évoluent, parce que les réponses se diversifient, l&rsquo;association doit
						en permanence questionner ses pratiques, être attentive à ce qui se fait</p>
				</div>
			</div>
			<div class="d-flex col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-4 {#animate fadeInUp three revealed#}" data-aos="fade-up" data-aos-delay="300">
				<div class="limp">
					<span>03</span>
					<h4>Rigueur</h4>
					<p>La rigueur que nous nous imposons dans l&rsquo;exécution des actions menant à l&rsquo;atteinte
						des objectifs fixés, au travers du sérieux et du professionnalisme de chacun d&rsquo;entre nous
					</p>
				</div>
			</div>
			<div class="d-flex col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-4 {#animate fadeInUp three revealed#}" data-aos="fade-up" data-aos-delay="400">
				<div class="limp">
					<span>04</span>
					<h4>Confiance et bienveillance</h4>
					<p>La réussite de notre projet passe avant tout par la confiance des enfants et de leurs parents en
						leur capacité à s&rsquo;engager et à réussir. La bienveillance constitue la base de nos actions
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Why Us Section -->
<!-- ======= our-findings Section ======= -->
<section class="our-findings">
	<div class="container" data-aos="fade-up">
		<div class="section-title findings-content {#animate fadeInUp displayed#}">
			<h2>Les constats</h2>
		</div>
		<div class="row">
			<div
				class="col-lg-6 order-1 order-lg-1 findings-content {#animate displayed fadeInLeft#} position-relative blockquote" data-aos="fade-right" data-aos-delay="100">
				<div class="quote-left">
					<i class='bx bxs-quote-alt-left'></i>
				</div>
				<p>Un élève, en fin de GS, doit posséder 1200 à 1500 mots dans son vocabulaire actif pour être assuré
					de la réussite et d&rsquo;entrer efficacement dans la lecture.
				</p>
				<p class="mt-4">A l&rsquo;entrée en CP, les enfants au vocabulaire le plus pauvre disposent de 500 mots
					environ, ceux
					moyennement pourvus de 1000 mots et le groupe le mieux pourvu de 2500 mots
				</p>
				<p class="mt-4">A partir du CP, on observe donc 5 ans de différence entre le groupe le plus bas et le
					groupe le plus élevé
				</p>
				<p class="mt-4">
					<span class="note">
						Fanny De La Haye (INSPÉ de Bretagne, LP3C Rennes 2)
					</span>
				</p>
			</div>
			<div
				class="col-lg-6 pt-3 pt-lg-0 order-2 order-lg-2 findings-content content {#animate fadeInRight displayed#}" data-aos="fade-left" data-aos-delay="100">
				<ul>
					<li>
						<i class="bx bx-check-double"></i>
						<p>
							La majorité du vocabulaire est apprise de façon indirecte, que
							ce soit par le langage oral de l'ancrage familial, les habitudes de communication, les types
							d&rsquo;échanges et le nombre d&rsquo;interlocuteurs rencontrés
						</p>
					</li>
					<li>
						<i class="bx bx-check-double"></i>
						<p>Les élèves qui font leur entrée à l&rsquo;école présentent des
							écarts importants en ce qui concerne leur degré d&rsquo;exposition au vocabulaire
							<span class="note">(Hart et Risley 1995, 2003 ; Le Normand, Parisse et Cohen, 2008 ; Morris
								et al 2008)</span>
						</p>
					</li>
					<li>
						<i class="bx bx-check-double"></i>
						<p>Certains en sont encore au mot phrase, quand d&rsquo;autres ont déjà un vocabulaire
							diversifié
							<span class="note">(Florin, rapport HCE, 2007)</span>
						</p>
					</li>
					<li>
						<i class="bx bx-check-double"></i>
						<p>La maîtrise de la langue parlée conditionne l&rsquo;ensemble des apprentissages ultérieurs :
							on ne peut apprendre à lire qu&rsquo;une langue qu&rsquo;on parle déjà
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End our-findings Section -->
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
	<div class="container reveal-loaded reveal">
		<div class="row d-flex align-items-center justify-content-center">
			{% for school in schools %}
			<div class="col-lg-2 col-md-4 col-6">
				<img src="{{ vich_uploader_asset(school, 'imageFile') }}" alt="{{ school.title }}" class="img-fluid">
			</div>
			{% endfor %}
		</div>
	</div>
</section><!-- End Clients Section -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Dis, comment on dit ?</h3>
                        <p>
                            24 boulevard Pablo Picasso <br>
                            49000 ANGERS<br><br>
                            <strong>Téléphone :</strong> 06 29 02 54 45<br>
                            <strong>Email :</strong> contact@discommentondit.fr<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-google-plus-circle"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('home') }}">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('about') }}">Qui sommes-nous</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('picture_book') }}">Nos imagiers</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('legal-notices') }}">Mentions
                                légales</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('prevacy-policy') }}">Politique de
                                confidentialité</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('support') }}">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Association Dis, comment on dit ? - 2021 - Tous droits réservés
        </div>
        <div class="credits">
            Réalisé par <a href="https://stephanebouretnouhin.web.app/" target="_blank">SB</a>
        </div>
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
	<i class="bi bi-arrow-up-short"></i>
</a>
<script src="{{ asset('assets/js/app.js') }}" defer></script>
<script src="{{ asset('assets/js/main.js') }}" defer></script>
{# <script src="{{ asset('assets/js/values.js') }}" defer></script> #}
<script src="{{ asset('assets/aos/aos.js') }}" defer></script>
{% endblock %}