{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    a {
        color: #212529;
    }
</style>
{% endblock %}
{% block body %}
<!-- ======= Legal Section ======= -->
<section id="legal" class="legal">
    <div class="container">
        <div class="section-title">
            <span>Mentions légales</span>
            <h2>Mentions légales</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 animate fadeInUp">
                <h3 class="bold">Association Dis, comment on dit ?</h3>
                <p>
                    <span class="bold">Adresse :</span>
                    24 boulevard Pablo Picasso, 49000 ANGERS
                </p>
                <p>
                    <span class="bold">Tél :</span>
                    06 29 02 54 45
                </p>
                <p>
                    <span class="bold">Email :</span>
                    contact@discommentondit.fr
                </p>
                <p>
                    <span class="bold">N° SIRET :</span>
                    84860399900014
                </p>
                <p>
                    Association à but non lucratif régie par la loi 1901 - Déclaration à la Préfecture d’Angers sous le
                    numéro W491019298
                </p>
                <p>
                    <span class="bold">Responsable de la publication :</span>
                    Caroline BOURDIN
                </p>
                <p>
                    <span class="bold">Créateur du site :</span>
                    Stéphane BOURET – sbouret@orange.fr
                </p>
            </div>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0 mt-4 animate fadeInUp two">
            <h3 class="bold">HEBERGEMENT</h3>
            <p>
                HOSTINGER
            </p>
            <p>
                dont le siège social est situé HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre
            </p>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0 mt-4 animate fadeInUp three">
            <h3 class="bold">PROTECTION DES DONNÉES PERSONNELLES ET POLITIQUE DE CONFIDENTIALITÉ</h3>
            <p>Les informations recueillies sur ce site sont enregistrées dans un fichier informatisé
                par&nbsp;<strong>l'association Dis, comment on dit ?&nbsp;</strong>pour la gestion de la relation
                client, l'information
                de nos prospects et de nos clients. Elles sont conservées pendant 5 ans et sont uniquement destinées à
                l'équipe de <strong>l'association Dis, comment on dit ?</strong>. Nous ne transmettons ces informations
                à aucun tiers
                (partenaires commerciaux, etc) sauf si vous nous y avez autorisé. Conformément à la loi « informatique
                et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire
                rectifier en envoyant un email à contact@discommentondit.fr</p><br>
            <h3 class="bold">COOKIES</h3>
            <p>Les cookies sont de petits textes qui servent à stocker des informations sur les navigateurs web. Les
                cookies sont notamment utilisés pour stocker et recevoir des identifiants et d’autres informations sur
                des appareils comme les ordinateurs ou les téléphones. D’autres technologies, dont les données que nous
                stockons sur votre navigateur web ou sur votre appareil, les identifiants associés à votre appareil et
                d’autres logiciels, sont utilisées dans des buts similaires. Dans cette politique, nous désignons toutes
                ces technologies par le terme "cookies". Les cookies nous aident à proposer, protéger et améliorer les
                Services de <strong>l'association Dis, comment on dit ?&nbsp;</strong>(par exemple, en personnalisant le
                contenu), ainsi qu’à adapter et mesurer les publicités et à offrir une expérience plus sûre. Il est
                possible que nous
                déployons des cookies afin d’optimiser l’expérience utilisateur sur le site dédié. Le cookie a pour
                objectif d’identifier un poste de travail ainsi que ses informations détaillées dans le cadre de
                spécifications techniques plus précises afin d’en améliorer le support. Bien que la plupart des
                navigateurs web acceptent automatiquement les cookies, vous pouvez modifier vos paramètres de navigation
                afin de ne plus les accepter ou recevoir des notifications d’alerte lors d’un nouvel envoi.</p>
            <p>Pour supprimer, autoriser et gérer vos cookies, suivez les consignes de votre navigateur :</p><br>
            <p>- <a
                    href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies"
                    target="_blank">Internet Explorer</a><br>- <a
                    href="https://support.apple.com/kb/PH17191?locale=fr_FR" target="_blank">Safari</a><br>- <a
                    href="https://support.google.com/chrome/answer/95647?hl=fr&amp;hlrm=fr"
                    target="_blank">Chrome</a><br>- <a
                    href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&amp;redirectslug=Activer+et+d%C3%A9sactiver+les+cookies"
                    target="_blank">Firefox</a><br>- <a href="https://help.opera.com/en/latest/web-preferences/#cookies"
                    target="_blank">Opera</a></p>
        </div>
    </div>
</section><!-- End Legal Section -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Dis, comment on dit ?</h3>
                        <p>
                            24 boulevard Pablo Picasso <br>
                            49000 ANGERS<br><br>
                            <strong>Téléphone :</strong> 06 29 02 54 45<br>
                            <strong>Email :</strong> contact@discommentondit.fr<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-google-plus-circle"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('home') }}">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('about') }}">Qui sommes-nous</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('picture_book') }}">Nos imagiers</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('legal-notices') }}">Mentions légales</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('prevacy-policy') }}">Politique de confidentialité</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Association Dis, comment on dit ? - 2021 - Tous droits réservés
        </div>
        <div class="credits">
            Réalisé par <a href="https://stephanebouretnouhin.web.app/" target="_blank">SB</a>
        </div>
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<script src="{{ asset('assets/js/main.js') }}" defer></script>
{% endblock %}