{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    a {
        color: #212529;
    }
</style>
{% endblock %}
{% block body %}
<!-- ======= Legal Section ======= -->
<section id="legal" class="legal">
    <div class="container">
        <div class="section-title">
            <span>Politique de confidentialité</span>
            <h2>Politique de confidentialité</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 animate fadeInUp">
                <h2>Définitions</h2>
                <p><b>Client :</b> tout professionnel ou personne physique capable au sens des articles 1123 et suivants
                    du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.<br>
                    <b>Prestations et Services :</b> <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> met à disposition des
                    Clients :</p>
                <p><b>Contenu :</b> Ensemble des éléments constituants l&rsquo;information présente sur le Site,
                    notamment
                    textes &ndash; images &ndash; vidéos.</p>
                <p><b>Informations clients :</b> Ci après dénommé « Information (s) » qui correspondent à
                    l&rsquo;ensemble des
                    données personnelles susceptibles d&rsquo;être détenues par <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> pour la gestion de
                    votre compte, de la gestion de la relation client et à des fins d&rsquo;analyses et de statistiques.
                </p>
                <p><b>Utilisateur :</b> Internaute se connectant, utilisant le site susnommé.</p>
                <p><b>Informations personnelles :</b> « Les informations qui permettent, sous quelque forme que ce soit,
                    directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent »
                    (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
                <p>Les termes « données à caractère personnel », « personne concernée », « sous traitant » et « données
                    sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n°
                    2016-679)</p>
                <br>
                <h2>1. Présentation du site internet.</h2>
                <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie
                    numérique, il est précisé aux utilisateurs du site internet <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> l'identité des
                    différents intervenants dans le cadre de sa réalisation et de son suivi:
                </p>
                <p><strong>Propriétaire</strong> : Association Dis, comment on dit ? Association à but non lucratif
                    régie par la loi 1901 - Déclaration à la Préfecture d&rsquo;Angers sous le
                    numéro W491019298<br>
                    <strong>Responsable publication</strong> : Caroline BOURDIN &ndash; contact@discommentondit.fr<br>
                    <strong>Délégué à la protection des données</strong> : Caroline BOURDIN &ndash;
                    contact@discommentondit.fr<br>
                </p>
                <br>
                <h2>2. Conditions générales d&rsquo;utilisation du site et des services proposés.</h2>
                <p>Le Site constitue une œuvre de l&rsquo;esprit protégée par les dispositions du Code de la Propriété
                    Intellectuelle et des Réglementations Internationales applicables.
                    Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou
                    partie des éléments ou travaux du Site.</p>
                <p>L&rsquo;utilisation du site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>
                    implique l&rsquo;acceptation pleine et entière des conditions générales d&rsquo;utilisation ci-après
                    décrites.
                    Ces conditions d&rsquo;utilisation sont susceptibles d&rsquo;être modifiées ou complétées à tout
                    moment, les
                    utilisateurs du site <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>
                    sont donc invités à les consulter de manière régulière.</p>
                <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour
                    raison de maintenance technique peut être toutefois décidée par <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, qui s&rsquo;efforcera
                    alors
                    de communiquer préalablement aux utilisateurs les dates et heures de l&rsquo;intervention.
                    Le site web <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est mis à
                    jour régulièrement par <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>
                    responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles
                    s&rsquo;imposent néanmoins à l&rsquo;utilisateur qui est invité à s&rsquo;y référer le plus souvent
                    possible afin d&rsquo;en
                    prendre connaissance.</p>
                <br>
                <h2>3. Description des services fournis.</h2>
                <p>Le site internet <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> a pour
                    objet de fournir une information concernant l&rsquo;ensemble des activités de l'association'.
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> s&rsquo;efforce de
                    fournir sur
                    le site <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> des informations
                    aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des
                    inexactitudes et des carences dans la mise à jour, qu&rsquo;elles soient de son fait ou du fait des
                    tiers
                    partenaires qui lui fournissent ces informations.</p>
                <p>Toutes les informations indiquées sur le site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> sont données à titre
                    indicatif, et sont susceptibles d&rsquo;évoluer. Par ailleurs, les renseignements figurant sur le
                    site <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ne sont pas
                    exhaustifs.
                    Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
                <br>
                <h2>4. Limitations contractuelles sur les données techniques.</h2>
                <p>Le site utilise la technologie JavaScript.
                    Le site Internet ne pourra être tenu responsable de dommages matériels liés à l&rsquo;utilisation du
                    site.
                    De plus, l&rsquo;utilisateur du site s&rsquo;engage à accéder au site en utilisant un matériel
                    récent, ne
                    contenant pas de virus et avec un navigateur de dernière génération mis-à-jour
                    Le site <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est hébergé chez
                    un prestataire sur le territoire de l&rsquo;Union Européenne conformément aux dispositions du
                    Règlement
                    Général sur la Protection des Données (RGPD : n° 2016-679)</p>
                <p>L&rsquo;objectif est d&rsquo;apporter une prestation qui assure le meilleur taux
                    d&rsquo;accessibilité. L&rsquo;hébergeur
                    assure la continuité de son service 24 Heures sur 24, tous les jours de l&rsquo;année. Il se réserve
                    néanmoins la possibilité d&rsquo;interrompre le service d&rsquo;hébergement pour les durées les plus
                    courtes
                    possibles notamment à des fins de maintenance, d&rsquo;amélioration de ses infrastructures, de
                    défaillance
                    de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.</p>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> et l&rsquo;hébergeur ne
                    pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes
                    téléphoniques ou du matériel informatique et de téléphonie lié notamment à l&rsquo;encombrement du
                    réseau
                    empêchant l&rsquo;accès au serveur.</p>
                <br>
                <h2>5. Propriété intellectuelle et contrefaçons.</h2>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est propriétaire des
                    droits de propriété intellectuelle et détient les droits d&rsquo;usage sur tous les éléments
                    accessibles
                    sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
                    Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
                    éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation
                    écrite préalable de : <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>.
                </p>
                <p>Toute exploitation non autorisée du site ou de l&rsquo;un quelconque des éléments qu&rsquo;il
                    contient sera
                    considérée comme constitutive d&rsquo;une contrefaçon et poursuivie conformément aux dispositions
                    des
                    articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
                <br>
                <h2>6. Limitations de responsabilité.</h2>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> agit en tant
                    qu&rsquo;éditeur
                    du site. <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est responsable
                    de la qualité et de la véracité du Contenu qu&rsquo;il publie. </p>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ne pourra être tenu
                    responsable des dommages directs et indirects causés au matériel de l&rsquo;utilisateur, lors de
                    l&rsquo;accès
                    au site internet <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, et
                    résultant soit de l&rsquo;utilisation d&rsquo;un matériel ne répondant pas aux spécifications
                    indiquées au point
                    4, soit de l&rsquo;apparition d&rsquo;un bug ou d&rsquo;une incompatibilité.</p>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ne pourra également être
                    tenu responsable des dommages indirects (tels par exemple qu&rsquo;une perte de marché ou perte
                    d&rsquo;une
                    chance) consécutifs à l&rsquo;utilisation du site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>.
                    Des espaces interactifs (possibilité de poser des questions dans l&rsquo;espace contact) sont à la
                    disposition des utilisateurs. <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> se réserve le droit de
                    supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à
                    la législation applicable en France, en particulier aux dispositions relatives à la protection des
                    données. Le cas échéant, <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>
                    se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de
                    l&rsquo;utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou
                    pornographique, quel que soit le support utilisé (texte, photographie …).</p>
                <br>
                <h2>7. Gestion des données personnelles.</h2>
                <p>Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin
                    2014 pour la confiance dans l&rsquo;Economie Numérique, la Loi Informatique et Liberté du 06 Août
                    2004
                    ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679). </p>
                <br>
                <h3>7.1 Responsables de la collecte des données personnelles</h3>
                <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de
                    l&rsquo;Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données
                    Personnelles
                    est : Dis, comment on dit ?. <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est représenté par
                    Caroline BOURDIN, son représentant légal</p>
                <p>En tant que responsable du traitement des données qu&rsquo;il collecte, <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> s&rsquo;engage à
                    respecter le
                    cadre des dispositions légales en vigueur. Il lui appartient notamment au Client d&rsquo;établir les
                    finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la
                    collecte de leurs consentements, une information complète sur le traitement de leurs données
                    personnelles et de maintenir un registre des traitements conforme à la réalité.
                    Chaque fois que <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> traite
                    des Données Personnelles, <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> prend toutes les
                    mesures raisonnables pour s&rsquo;assurer de l&rsquo;exactitude et de la pertinence des Données
                    Personnelles au
                    regard des finalités pour lesquelles <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> les traite.</p>
                <br>
                <h3>7.2 Finalité des données collectées</h3>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est susceptible de
                    traiter tout ou partie des données : </p>
                <ul>
                    <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et
                        services commandés par l&rsquo;utilisateur : données de connexion et d&rsquo;utilisation du
                        Site,
                        facturation, historique des commandes, etc. </li>
                    <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel
                        informatique utilisé pour la navigation, l&rsquo;adresse IP, le mot de passe (hashé) </li>
                    <li>pour améliorer la navigation sur le Site : données de connexion et d&rsquo;utilisation </li>
                    <li>pour mener des enquêtes de satisfaction facultatives sur <a
                            href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> : adresse email
                    </li>
                    <li>pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email</li>
                </ul>
                <p><a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ne commercialise pas vos
                    données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et
                    d&rsquo;analyses.</p>
                <br>
                <h3>7.3 Droit d&rsquo;accès, de rectification et d&rsquo;opposition</h3>
                <p>
                    Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> disposent des droits
                    suivants : </p>
                <ul>
                    <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de
                        complétude des données des Utilisateurs droit de verrouillage ou d&rsquo;effacement des données
                        des
                        Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu&rsquo;elles sont inexactes,
                        incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la
                        conservation est interdite </li>
                    <li>droit de retirer à tout moment un consentement (article 13-2c RGPD) </li>
                    <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD) </li>
                    <li>droit d&rsquo;opposition au traitement des données des Utilisateurs (article 21 RGPD) </li>
                    <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données
                        font l&rsquo;objet de traitements automatisés fondés sur leur consentement ou sur un contrat
                        (article
                        20 RGPD) </li>
                    <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui <a
                            href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> devra communiquer
                        (ou non) ses données à un tiers qu&rsquo;ils aura préalablement désigné</li>
                </ul>
                <p>Dès que <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> a connaissance du
                    décès d&rsquo;un Utilisateur et à défaut d&rsquo;instructions de sa part, <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> s&rsquo;engage à
                    détruire ses
                    données, sauf si leur conservation s&rsquo;avère nécessaire à des fins probatoires ou pour répondre
                    à une
                    obligation légale.</p>
                <p>Si l&rsquo;Utilisateur souhaite savoir comment <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> utilise ses Données
                    Personnelles, demander à les rectifier ou s&rsquo;oppose à leur traitement, l&rsquo;Utilisateur peut
                    contacter
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> par écrit à
                    l&rsquo;adresse
                    suivante : </p>
                Dis, comment on dit ? &ndash; DPO<br>
                24 Boulevard Pablo Picasso 49000 ANGERS.
                <p>Dans ce cas, l&rsquo;Utilisateur doit indiquer les Données Personnelles qu&rsquo;il souhaiterait que
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> corrige, mette à jour
                    ou supprime, en s&rsquo;identifiant précisément avec une copie d&rsquo;une pièce d&rsquo;identité
                    (carte d&rsquo;identité ou
                    passeport). </p>
                <p>
                    Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont
                    imposées à <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> par la loi,
                    notamment en matière de conservation ou d&rsquo;archivage des documents. Enfin, les Utilisateurs de
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> peuvent déposer une
                    réclamation auprès des autorités de contrôle, et notamment de la CNIL
                    (https://www.cnil.fr/fr/plaintes).</p>
                <br>
                <h3>7.4 Non-communication des données personnelles</h3>
                <p>
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> s&rsquo;interdit de
                    traiter,
                    héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de
                    l&rsquo;Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en
                    informer
                    préalablement le client. Pour autant, <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> reste libre du choix de
                    ses sous-traitants techniques et commerciaux à la condition qu&rsquo;il présentent les garanties
                    suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n°
                    2016-679).</p>
                <p>
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> s&rsquo;engage à prendre
                    toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment
                    qu&rsquo;elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident
                    impactant l&rsquo;intégrité ou la confidentialité des Informations du Client est portée à la
                    connaissance
                    de <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, celle-ci devra dans
                    les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par
                    ailleurs <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ne collecte
                    aucune « données sensibles ».</p>
                <p>
                    Les Données Personnelles de l&rsquo;Utilisateur peuvent être traitées par des filiales de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> et des sous-traitants
                    (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
                </p>
                <p>
                    Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les
                    principales personnes susceptibles d&rsquo;avoir accès aux données des Utilisateurs de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> sont principalement les
                    agents de notre service client.</p>
                <br>
                <h2>8. Notification d&rsquo;incident</h2>
                <p>
                    Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode
                    de stockage électronique n'est complètement sûre. Nous ne pouvons en conséquence pas garantir une
                    sécurité absolue.
                    Si nous prenions connaissance d'une brèche de la sécurité, nous avertirions les utilisateurs
                    concernés afin qu'ils puissent prendre les mesures appropriées. Nos procédures de notification
                    d&rsquo;incident tiennent compte de nos obligations légales, qu'elles se situent au niveau national
                    ou
                    européen. Nous nous engageons à informer pleinement nos clients de toutes les questions relevant de
                    la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour les aider à
                    respecter leurs propres obligations réglementaires en matière de reporting.</p>
                <p>
                    Aucune information personnelle de l'utilisateur du site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> n'est publiée à l'insu
                    de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule
                    l'hypothèse du rachat de <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>
                    et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui
                    serait à son tour tenu de la même obligation de conservation et de modification des données vis à
                    vis de l'utilisateur du site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>.</p>
                <br>
                <h3>Sécurité</h3>
                <p>
                    Pour assurer la sécurité et la confidentialité des Données Personnelles et des Données Personnelles
                    de Santé, <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> utilise des
                    réseaux protégés par des dispositifs standards tels que par pare-feu, la pseudonymisation,
                    l&rsquo;encryption et mot de passe. </p>
                <p>
                    Lors du traitement des Données Personnelles, <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>prend toutes les mesures
                    raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé,
                    divulgation, altération ou destruction.</p>
                <br>
                <h2>9. Liens hypertextes « cookies » et balises (“tags”) internet</h2>
                <p>
                    Le site <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> contient un
                    certain nombre de liens hypertextes vers d&rsquo;autres sites, mis en place avec
                    l&rsquo;autorisation de <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>.
                    Cependant, <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> n&rsquo;a pas
                    la possibilité
                    de vérifier le contenu des sites ainsi visités, et n&rsquo;assumera en conséquence aucune
                    responsabilité
                    de ce fait.</p>
                Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous
                pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de
                désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher
                l&rsquo;accessibilité à tout ou partie des Services proposés par le site.
                <p></p>
                <br>
                <h3>9.1. « COOKIES »</h3>
                <p>
                    Un « cookie » est un petit fichier d&rsquo;information envoyé sur le navigateur de
                    l&rsquo;Utilisateur et
                    enregistré au sein du terminal de l&rsquo;Utilisateur (ex : ordinateur, smartphone), (ci-après «
                    Cookies
                    »). Ce fichier comprend des informations telles que le nom de domaine de l&rsquo;Utilisateur, le
                    fournisseur d&rsquo;accès Internet de l&rsquo;Utilisateur, le système d&rsquo;exploitation de
                    l&rsquo;Utilisateur, ainsi que
                    la date et l&rsquo;heure d&rsquo;accès. Les Cookies ne risquent en aucun cas d&rsquo;endommager le
                    terminal de
                    l&rsquo;Utilisateur.</p>
                <p>
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est susceptible de
                    traiter les informations de l&rsquo;Utilisateur concernant sa visite du Site, telles que les pages
                    consultées, les recherches effectuées. Ces informations permettent à <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> d&rsquo;améliorer le
                    contenu
                    du Site, de la navigation de l&rsquo;Utilisateur.</p>
                <p>
                    Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site,
                    l&rsquo;Utilisateur peut configurer son navigateur pour qu&rsquo;il lui permette de décider
                    s&rsquo;il souhaite ou non
                    les accepter de manière à ce que des Cookies soient enregistrés dans le terminal ou, au contraire,
                    qu&rsquo;ils soient rejetés, soit systématiquement, soit selon leur émetteur. L&rsquo;Utilisateur
                    peut également
                    configurer son logiciel de navigation de manière à ce que l&rsquo;acceptation ou le refus des
                    Cookies lui
                    soient proposés ponctuellement, avant qu&rsquo;un Cookie soit susceptible d&rsquo;être enregistré
                    dans son
                    terminal. <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> informe
                    l&rsquo;Utilisateur que, dans ce cas, il se peut que les fonctionnalités de son logiciel de
                    navigation ne
                    soient pas toutes disponibles.</p>
                <p>
                    Si l&rsquo;Utilisateur refuse l&rsquo;enregistrement de Cookies dans son terminal ou son navigateur,
                    ou si
                    l&rsquo;Utilisateur supprime ceux qui y sont enregistrés, l&rsquo;Utilisateur est informé que sa
                    navigation et
                    son expérience sur le Site peuvent être limitées. Cela pourrait également être le cas lorsque <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ou l&rsquo;un de ses
                    prestataires ne peut pas reconnaître, à des fins de compatibilité technique, le type de navigateur
                    utilisé par le terminal, les paramètres de langue et d&rsquo;affichage ou le pays depuis lequel le
                    terminal semble connecté à Internet.</p>
                <p>
                    Le cas échéant, <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> décline
                    toute responsabilité pour les conséquences liées au fonctionnement dégradé du Site et des services
                    éventuellement proposés par <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, résultant (i) du refus
                    de Cookies par l&rsquo;Utilisateur (ii) de l&rsquo;impossibilité pour <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> d&rsquo;enregistrer ou
                    de
                    consulter les Cookies nécessaires à leur fonctionnement du fait du choix de l&rsquo;Utilisateur.
                    Pour la
                    gestion des Cookies et des choix de l&rsquo;Utilisateur, la configuration de chaque navigateur est
                    différente. Elle est décrite dans le menu d&rsquo;aide du navigateur, qui permettra de savoir de
                    quelle
                    manière l&rsquo;Utilisateur peut modifier ses souhaits en matière de Cookies.</p>
                <p>
                    À tout moment, l&rsquo;Utilisateur peut faire le choix d&rsquo;exprimer et de modifier ses souhaits
                    en matière
                    de Cookies. <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> pourra en
                    outre faire appel aux services de prestataires externes pour l&rsquo;aider à recueillir et traiter
                    les
                    informations décrites dans cette section.</p>
                <p>
                    Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin et Google
                    Plus figurant sur le Site de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> ou dans son application
                    mobile et si l&rsquo;Utilisateur a accepté le dépôt de cookies en poursuivant sa navigation sur le
                    Site
                    Internet ou l&rsquo;application mobile de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, Twitter, Facebook,
                    Linkedin et Google Plus peuvent également déposer des cookies sur vos terminaux (ordinateur,
                    tablette, téléphone portable).</p>
                <p>
                    Ces types de cookies ne sont déposés sur vos terminaux qu&rsquo;à condition que vous y consentiez,
                    en
                    continuant votre navigation sur le Site Internet ou l&rsquo;application mobile de <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>. À tout moment,
                    l&rsquo;Utilisateur peut néanmoins revenir sur son consentement à ce que <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> dépose ce type de
                    cookies.</p>
                <br>
                <h3>Article 9.2. BALISES (“TAGS”) INTERNET</h3>
                <p>
                    <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> peut employer
                    occasionnellement des balises Internet (également appelées « tags », ou balises d&rsquo;action, GIF
                    à un
                    pixel, GIF transparents, GIF invisibles et GIF un à un) et les déployer par l&rsquo;intermédiaire
                    d&rsquo;un
                    partenaire spécialiste d&rsquo;analyses Web susceptible de se trouver (et donc de stocker les
                    informations
                    correspondantes, y compris l&rsquo;adresse IP de l&rsquo;Utilisateur) dans un pays étranger.</p>
                <p>
                    Ces balises sont placées à la fois dans les publicités en ligne permettant aux internautes
                    d&rsquo;accéder
                    au Site, et sur les différentes pages de celui-ci.
                </p>
                <p>
                    Cette technologie permet à <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> d&rsquo;évaluer les
                    réponses
                    des visiteurs face au Site et l&rsquo;efficacité de ses actions (par exemple, le nombre de fois où
                    une
                    page est ouverte et les informations consultées), ainsi que l&rsquo;utilisation de ce Site par
                    l&rsquo;Utilisateur. </p>
                <p>
                    Le prestataire externe pourra éventuellement recueillir des informations sur les visiteurs du Site
                    et d&rsquo;autres sites Internet grâce à ces balises, constituer des rapports sur l&rsquo;activité
                    du Site à
                    l&rsquo;attention de <a href="https://www.discommentondit.fr">https://www.discommentondit.fr</a>, et
                    fournir d&rsquo;autres services relatifs à l&rsquo;utilisation de celui-ci et d&rsquo;Internet.</p>
                <p>
                </p>
                <br>
                <h2>10. Droit applicable et attribution de juridiction.</h2>
                <p>
                    Tout litige en relation avec l&rsquo;utilisation du site <a
                        href="https://www.discommentondit.fr">https://www.discommentondit.fr</a> est soumis au droit
                    français.
                    En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux
                    tribunaux compétents de ANGERS</p>
            </div>
        </div>
    </div>
</section><!-- End Legal Section -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Dis, comment on dit ?</h3>
                        <p>
                            24 boulevard Pablo Picasso <br>
                            49000 ANGERS<br><br>
                            <strong>Téléphone :</strong> 06 29 02 54 45<br>
                            <strong>Email :</strong> contact@discommentondit.fr<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-google-plus-circle"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('home') }}">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('about') }}">Qui sommes-nous</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('picture_book') }}">Nos imagiers</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('legal-notices') }}">Mentions
                                légales</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('prevacy-policy') }}">Politique de
                                confidentialité</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Association Dis, comment on dit ? - 2021 - Tous droits réservés
        </div>
        <div class="credits">
            Réalisé par <a href="https://stephanebouretnouhin.web.app/" target="_blank">SB</a>
        </div>
    </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<script src="{{ asset('assets/js/main.js') }}" defer></script>
{% endblock %}