{% extends 'base.html.twig' %}

{% block title %}Enregistrer votre compte{% endblock %}

{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    header {
        height: 70px;
    }

    a {
        color: #e96b56;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block body %}
<main id="main">
    <section id="account-signing" class="account-signing">
        <div class="container">
            {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show mt-3 text-center container"
                id="flashMessage" role="alert">
                {{ message | raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endfor %}
            <div class="section-title">
                <h2>Enregistrement de votre compte</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-5 mt-lg-0 d-flex align-items-stretch">
                    {{ form_start(form, {attr: {class: 'signing-form', id: 'signing-form'}}) }}
                    <div class="row">
                        <div class="form-group">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.phone_number) }}
                        </div>
                        <div class="text-center mt-3">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}