{% extends 'base.html.twig' %}

{% block title %}Blog Dis, comment on dit ?{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    .breadcrumbs a {
        color: #e96b56;
        text-decoration: none;
    }

    .breadcrumbs h2 {
        font-size: 28px;
        font-weight: 700;
        /* color: #545454; */
        margin-bottom: 0;
    }
</style>
{% endblock %}
{% block body %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li>
                    <a href="{{ path('products') }}">Accueil</a>
                </li>
                <li>Blog</li>
            </ol>
            <div class="read-more">
                <a href="{{ path('add_new_post')}}">
                    <h2>Créer un sujet</h2>
                </a>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="section-blog">
                <h2>Blog</h2>
                <p>
                    Liste des sujets
                </p>
            </div>
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endfor %}
                {% if blogposts is empty %}
                <section class="error-404 d-flex flex-column align-items-center justify-content-center">
                    <h2>Il n'existe aucun sujet validé par l'administrateur à ce jour</h2>
                </section>
                {% endif %}
                <div class="col-lg-7 order-lg-0 order-md-0 order-sm-0 order-last entries">
                    {% for data in blogposts %}
                    <article class="entry">
                        {% if data.illustration %}
                        <div class="entry-background">
                            <img src="{{ vich_uploader_asset(data, 'imageFile') | imagine_filter('thumb_indexblog') }}"
                                alt="{{ data.illustration }}" class="img-fluid">
                        </div>
                        {% endif %}
                        <h2 class="entry-title">
                            <a href="{{ path('single_post', {'slug' : data.slug }) }}">{{ data.title }}</a>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                        href="{{ path('single_post', {'slug' : data.slug }) }}">{{ data.users.firstname }}
                                        {{ data.users.lastname|first }}</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                        href="{{ path('single_post', {'slug' : data.slug }) }}"><time>{{ data.createdAt|date('d/m/Y') }}</time></a>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                        href="{{ path('single_post', {'slug' : data.slug }) }}">{{ data.comments|length }}
                                        {% if data.comments|length >=2 %} Commentaires{% else %}
                                        Commentaire{% endif %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            {{ data.content|u.truncate(150, '...', false)|raw }}
                            <div class="read-more">
                                {% if user.id == data.users.id %}
                                <a href="{{ path('edit_post', {'slug' : data.slug }) }}">Editer</a>
                                {% endif %}
                                <a href="{{ path('single_post', {'slug' : data.slug }) }}">En savoir plus</a>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="col-lg-5 order-lg-1 order-md-1 order-sm-1 order-first">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Rechercher un sujet</h3>
                        <div class="sidebar-item search-form">
                            {{ form_start(form, {attr: {class: 'mb-0'}}) }}
                            {{ form_widget(form.string) }}
                            {{ form_widget(form.submit, { 'label': '<i class="bi bi-search"></i>', 'label_html' : true }) }}
                            {{ form_end(form) }}
                        </div>
                        <h3 class="sidebar-title">Catégories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                {% for cat in catPost %}
                                <li>
                                    <a href="{{ path('category_blog', {'slug' : cat.categories.slug }) }}">{{ cat.categories.name }}
                                        <span>({{ cat.count }})</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h3 class="sidebar-title">Sujets récents</h3>
                        <div class="sidebar-item recent-posts">
                            {% for last in lastPost %}
                            <div class="post-item clearfix">
                                <img src="{{ vich_uploader_asset(last, 'imageFile') }}" alt="">
                                <h4>
                                    <a href="{{ path('single_post', {'slug' : last.slug }) }}">{{ last.title }}</a>
                                </h4>
                                <time datetime="2020-01-01">{{ last.createdAt|date('d/m/Y') }}</time>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-left">
                {{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
</main>
<script src="{{ asset('assets/js/blog.js') }}" defer></script>
<script src="{{ asset('assets/aos/aos.js') }}" defer></script>
{% endblock %}