{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
<style type="text/css">
	body {
		position: relative;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: #FFFFFF;
	}

	header {
		height: 70px
	}
</style>
{% endblock %}

{% block body %}
<section id="departments" class="departments">
	<div class="container" data-aos="fade-up">
		{% for label, messages in app.flashes %}
		{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show mt-3 text-center container" id="flashMessage"
			role="alert">
			{{ message | raw }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		{% endfor %}
		<div class="section-title">
			<h2>Accueil</h2>
			<h4 data-aos="zoom-in">Bonjour
				{{ user.firstname }}</h4>
			<p>Bienvenue dans votre espace personnel.</p>
			<p>Vous pouvez accéder simplement et rapidement à l'ensemble de vos services en ligne.</p>
		</div>
		<div class="row" data-aos="fade-up">
			<div class="col-lg-3" data-aos="fade-right" data-aos-delay="100">
				<ul class="nav nav-tabs flex-column">
					<li class="nav-item">
						<a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Nos thématiques</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab-2">Votre liste</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab-3">Index des imagiers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nos jeux</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab-5">Images les plus téléchargées</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-9 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-1">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Nos thématiques</h3>
								<p class="fst-italic">Retrouvez l'ensemble des thématiques présentes dans les imagiers
								</p>
								<p>Sur cette page, vous pouvez effectuer toutes vos recherches de manière dynamique. Vous
									pouvez chercher une image par son nom en tapant les premières lettres. Vous pouvez
									filtrer	par catégorie, par niveau.</p>
								<p>Pour des raisons de poids et donc d'accès, les images affichées en dehors
									de toute requête sont limitées à 30.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<div class="icon-box">
									<a href="{{ path('category_filter') }}">
										<div class="icon">
											<i class="fab fa-themeisle"></i>
										</div>
										<h4>Nos thématiques</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-2">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Votre liste</h3>
								<p class="fst-italic">Retrouvez l'ensemble des images que vous avez choisies
								</p>
								<p>Afin de ne pas perdre de temps, vous pouvez enregistrer les images que vous avez
									sélectionné. Pour cela, c'est très simple ! Au survol de chaque image, vous avez la
									possibilité de cliquer sur le bouton + afin de l'ajouter à votre liste.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<div class="icon-box">
									<a href="{{ path('mylist') }}">
										<div class="icon">
											<i class="fas fa-heartbeat"></i>
										</div>
										<h4>Votre liste</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-3">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Index des imagiers</h3>
								<p class="fst-italic">Retrouvez l'index des imagiers
								</p>
								<p>Dans cette page, vous avez la possibilité de retouver l'index des imagiers. Vous
									pouvez le télécharger au format pdf ou tout simplement taper sur l'une des lettres
									afin de trouver tous les mots avec la page s'y rattachant.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<div class="icon-box">
									<a href="{{ path('glossary') }}">
										<div class="icon">
											<i class="fas fa-indent"></i>
										</div>
										<h4>Index</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-4">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Nos jeux</h3>
								<p class="fst-italic">Retrouvez quelques-uns de nos jeux
								</p>
								<p>Nous vous proposons quelques jeux basés sur nos imagiers tels que jeux de loto,
									de l'oie ou de l'intrus. Vous trouverez aussi des gabarits vous permettant de
									personnaliser ces jeux.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<div class="icon-box">
									<a href="{{ path('game_files') }}">
										<div class="icon">
											<i class="fas fa-dice"></i>
										</div>
										<h4>Nos jeux</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-5">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Images les plus téléchargées</h3>
								<p class="fst-italic">Retrouvez les images les plus téléchargées par nos utilisateurs
								</p>
								<p>Uniquement à titre indicatif, cette section vous permet de savoir quelles sont les
									images les plus téléchargées. Cela donne une indication des thèmes ou catégories prisés.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<div class="icon-box">
									<a href="{{ path('popular') }}">
										<div class="icon">
											<i class="fas fa-thumbs-up"></i>
										</div>
										<h4>Populaires</h4>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
	<i class="bi bi-arrow-up-short"></i>
</a>
<div id="preloader"></div>
<script src="{{ asset('assets/js/main.js') }}" defer></script>
<script src="{{ asset('assets/aos/aos.js') }}" defer></script>
{% endblock %}