{% extends 'base.html.twig' %}

{% block title %}Support - Modifier mes paramètres personnels{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    a {
        color: #212529;
    }
</style>
{% endblock %}

{% block body %}
<main id="main">
    <section class="breadcrumbs-support">
        <div class="container">
            <ol>
                <li title="Support Dis, comment on dit ?">
                    <a href="{{ path('support') }}">Support</a>
                </li>
                <li title="Application">
                    <a href="{{ path('support_categories') }}">Application</a>
                </li>
                <li title="Mon compte">Mon compte</li>
            </ol>
        </div>
    </section>
    <div class="article-container">
        <section class="article-sidebar" id="accordionArticle">
            <section class="section-articles collapsible-sidebar">
                <h3 class="collapsible-sidebar-title sidenav-title ml-10" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Articles dans cette section
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionArticle">
                    <ul>
                        <li>
                            <a href="{{ path('myAccount') }}" class="sidenav-item">Me connecter à mon compte</a>
                        </li>
                        <li>
                            <a href="{{ path('disconnect') }}" class="sidenav-item">Me déconnecter de mon compte</a>
                        </li>
                        <li>
                            <a href="#" class="sidenav-item current-article">Modifier mes paramètres personnels</a>
                        </li>
                        <li>
                            <a href="{{ path('changeEmail') }}" class="sidenav-item ">Changer mon adresse email</a>
                        </li>
                        <li>
                            <a href="{{ path('changeMyPw') }}" class="sidenav-item ">Changer mon mot de passe</a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <article class="article">
            <header class="article-header">
                <h1 title="Modifier mes paramètres personnels" class="article-title">Modifier mes paramètres
                    personnels
                </h1>
            </header>
            <section class="article-info">
                <div class="article-content">
                    <div class="article-body">
                        <p>Chaque utilisateur de Dis, comment on dit ? a la possibilité de modifier ses paramètres
                            personnels.</p>
                        <p>Pour cela il suffit de :&nbsp;</p>
                        <ol>
                            <li>
                                <span class="color-black">Cliquez sur l'icone "utilisateur" dans le menu en haut à
                                    droite</span>
                            </li>
                            <li>
                                <span class="color-black">Sélectionnez l'onglet "<strong>Profil (votre
                                        prénom)</strong>"</span>
                            </li>
                            <li>
                                <span class="color-black">Cliquez sur le carré "<strong>MON COMPTE</strong>"</span>
                            </li>
                            <li>
                                <span class="color-black">Modifier vos paramètres personnels en <strong>cliquant sur
                                        chaque champ</strong> et pensez à sauvegarder ces modifications en cliquant sur
                                    "<strong>Modifier mon profil</strong>"</span>
                            </li>
                        </ol>
                        <p>
                            <img src="{{ asset('assets/img/captureEcranRegister9.jpg') }}" alt="">
                        </p>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>
<script src="{{ asset('assets/js/resize.js') }}" defer></script>
{% endblock %}