{% extends 'base.html.twig' %}

{% block title %}Support - Me déconnecter de mon compte{% endblock %}
{% block stylesheets %}
<style type="text/css">
    body {
        position: relative;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FFFFFF;
        color: #212529;
    }

    a {
        color: #212529;
    }
</style>
{% endblock %}

{% block body %}
<main id="main">
    <section class="breadcrumbs-support">
        <div class="container">
            <ol>
                <li title="Support Dis, comment on dit ?">
                    <a href="{{ path('support') }}">Support</a>
                </li>
                <li title="Application">
                    <a href="{{ path('support_categories') }}">Application</a>
                </li>
                <li title="Mon compte">Mon compte</li>
            </ol>
        </div>
    </section>
    <div class="article-container">
        <section class="article-sidebar" id="accordionArticle">
            <section class="section-articles collapsible-sidebar">
                <h3 class="collapsible-sidebar-title sidenav-title ml-10" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Articles dans cette section
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionArticle">
                    <ul>
                        <li>
                            <a href="{{ path('myAccount') }}" class="sidenav-item">Me connecter à mon compte</a>
                        </li>
                        <li>
                            <a href="#" class="sidenav-item current-article">Me déconnecter de mon compte</a>
                        </li>
                        <li>
                            <a href="{{ path('changeParameters') }}" class="sidenav-item ">Modifier mes paramètres personnels</a>
                        </li>
                        <li>
                            <a href="{{ path('changeEmail') }}" class="sidenav-item ">Changer mon adresse email</a>
                        </li>
                        <li>
                            <a href="{{ path('changeMyPw') }}" class="sidenav-item ">Changer mon mot de passe</a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        <article class="article">
            <header class="article-header">
                <h1 title="Me déconnecter de mon compte" class="article-title">Me déconnecter de mon compte
                </h1>
            </header>
            <section class="article-info">
                <div class="article-content">
                    <div class="article-body">
                        <p><em>Afin de garantir la sécurité de vos informations personnelles, nous vous conseillons de vous déconnecter de votre compte à chaque fois que
                                vous quittez l’application Dis, comment on dit ?.</em></p>
                        <h2>
                            <span class="redColorApp">Se déconnecter</span>
                        </h2>
                        <ol>
                            <li>
                                <span class="color-black">Cliquez sur l'icone "utilisateur" dans le menu en haut à droite</span>
                            </li>
                            <li>
                                <span class="color-black">Sélectionnez l'onglet "<strong>Déconnexion</strong>"</span>
                            </li>
                        </ol>
                        <p>
                            <img src="{{ asset('assets/img/captureEcranRegister8.jpg') }}" alt="">
                        </p>
                        <p>&nbsp;</p>
                        <p>Rappel : si vous souhaitez vous connecter à  votre compte Dis, comment on dit ?, consultez l'article dédié <a href="{{ path('myAccount') }}" target="_self">Me connecter à mon compte</a>
                        </p>
                        <p>Si vous avez suivi toutes ces instructions et que malgré cela vous ne parvenez pas à vous
                            enregistrer, <a href="https://www.discommentondit.fr/nous-contacter" target="_blank"
                                rel="noopener noreferrer">contactez-nous</a>.</p>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>
<script src="{{ asset('assets/js/resize.js') }}" defer></script>
{% endblock %}